################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/SharpZipLib.0.86.0
/MiSTerConfigurator/bin/Debug
/MiSTerConfigurator/obj
